.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  color: #2971df;
  font-size: 50px;
}

.field {
  display: flex;
  margin-right: 50px;
}
.value {
  padding-right: 20px;
}
